/* CSS files add styling rules to your content */

body {
  background: url("https://cdn.glitch.com/aa5d2783-c34e-484c-bc71-c3e3e6692c68%2FDSC_0749.JPG?1550452381568") no-repeat center center fixed;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

a  {
  color: inherit;
  text-decoration: inherit;
}
          
h1 {
  letter-spacing: 5px;
  
  color: #D3D3D3;
  font-size: 126px;
}

.center {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
   
